/* css for the navigation bar goes here. */

/* Color of navbar. */
.topnav {
  background-color: black;
  /* Overflow determines what happens when content exceeds it's container.
  It is visible by default. Hidden hides it, auto creates a scrollbar. */
  overflow: hidden;
}

/* Color of links. */
.topnav a {
  float: left;
  color: #66ccff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Changes the color of links on hover */
.topnav a:hover {
  background-color: #4d4d4d;
  color: #66ccff;
}

/* Add a color to the current link */
.topnav a.active {
  background-color: #66ff99;
  color: white;
}
