/* Demonstrates use of custom css. */

/* Makes the screen scroll smoothly instead of jump between intrapage links. */
html {
  scroll-behavior:smooth;
}

/* * affects all elments. */
/* With :not you can specify an element this css does not apply to.
:not only accepts 1 argument. Thus to negate multiple elements, :not has to
be used more than once. :not may accept multiple elements in future. */
/* Other pseudo classes can be found here:
https://www.w3.org/TR/selectors-3/ */
*:not(button):not(input) {
  /* Text color. */
  color:white;
}

/* Sets limit to text length */
body {
  background-color:black;
  /* Max size of box. */
  max-width:800px;
  /* margin is the distance a box is from other boxes. */
  margin:auto;
}

aside {
    width:40%;
    /* rem is a unit equal to the front size of the root element. */
    /* It is different from em being that em is affected when front size of
    the parent element is changed. */
    /* padding is the distance text is from it's box. */
    padding-left:.5rem;
    /* margin is the distance a box is from other boxes. */
    margin-left:.5rem;
    /* float allows an element to vertically span more than 1 line of text,
    as well as specifies which side of the text it will be. It is none by
    default. */
    float:right;
    /* inset changes the shadow from outside the box to inside. */
    /* The other arguments are x, y, sharpness (optional), size (optional)
    and color (default black). */
    box-shadow:inset 5px 0 5px -5px #66ff99;
    color:#66ff99;
}

/* Applies to p elements whose parent is aside. */
aside > p {
    margin:.5rem;
    color:#66ff99;
}


/* .align applies this css to all img with class align. */
/* Aligns images to the center. */
img.align {
  display:block;
  margin-left:auto;
  margin-right:auto;
}

/* .resize applies this css to all img with class resize. */
img.resize {
  max-width:40%;
  max-height:40%;
}


/* Fonts
--------------------------------------------------------------------------------------------------------------- */

.font-test{font-family:'Roboto';}

/* Demonstrates selecting multiple elements. */
h1, h2, h3, h4, h5, h6, div, p, button {
  text-align:center;
}

ul li, ol li, dl {
  margin-left:20%;
}
